---
layout: default
titleAfter: ClayWorks Co-op · Ottawa, Canada
description: Unique cooperation of professional potters in Ottawa.
---
<div class="banner pad-t-2 relative push-2" style="background-image: url({{site.data.home.banner.image}})">
  <div class="banner-content text-center pin-c bold max-length">
    <h1 class="zetta value bold pad-t push-1-2">{{site.data.home.banner.title}}</h1>
    <p class="giga push-2 inline-block">{{site.data.home.banner.text}}</p>
    <a class="btn btn-ghost push mega gutter" href="{{site.data.home.banner.buttonLink}}">{{site.data.home.banner.button}}</a>
  </div>
</div>

<section class="wrapper pad-t">
  <div class="grid grid-middle">
    <div class="unit xs-1 s-1 l-1-2 gutter intro-length push">
      <h2 class="tera bold push-0">{{site.data.home.about-coop.title-1}}</h2>
      <p class="">{{site.data.home.about-coop.text-1}}</p>
    </div>
    <div class="unit xs-1 s-1 l-1-2 gutter intro-length push">
      <div class="embed embed-1by1">
        <img class="img-flex embed-item island" src="{{site.data.home.about-coop.image_1}}" alt="">
      </div>
    </div>
    <div class="unit xs-1 s-1 l-1-2 gutter unit-push-l-1-2 intro-length push">
      <h2 class="tera bold push-0">{{site.data.home.about-coop.title-2}}</h2>
      <p class="">{{site.data.home.about-coop.text-2}}</p>
    </div>
    <div class="unit xs-1 s-1 l-1-2 unit-pull-l-1-2 gutter intro-length push">
      <div class="embed embed-1by1">
        <img class="img-flex embed-item island" src="{{site.data.home.about-coop.image_2}}" alt="">
      </div>
    </div>
  </div>
</section>

<section class="wrapper pad-t">
  <div class="grid grid-middle">
    <div class="unit xs-1 s-1 l-1-2 gutter intro-length push">
      <h2 class="tera bold push-0">{{site.data.home.features.title}}</h2>
      <p class="">{{site.data.home.features.text}}</p>
    </div>
    <div class="unit xs-1 s-1 l-1-2 gutter intro-length push">
      <div class="embed embed-1by1">
        <img class="img-flex embed-item island" src="{{site.data.home.features.image_1}}" alt="">
      </div>
    </div>
  </div>
</section>

<section class="wrapper pad-t">
  <div class="grid grid-middle">

    <div class="unit xs-1 s-1 l-1-2 unit-push-l-1-2 gutter intro-length push">
      <h2 class="tera bold push-0">{{site.data.home.gallery.title}}</h2>
      <p class="">{{site.data.home.gallery.text}}</p>
    </div>
    <div class="unit xs-1 s-1 l-1-2 l-1-2 unit-pull-l-1-2 gutter intro-length push">
      <div class="embed embed-1by1">
        <img class="img-flex embed-item island" src="{{site.data.home.gallery.image_1}}" alt="">
      </div>
    </div>
  </div>
</section>

{% for artist in site.artists limit:1 %}
<section class="featured-artist-section push-2">
  <div class="featured-artist pad-t-2 pad-b">
    <div class="wrapper">
      <div class="grid grid-middle">
        <div class="unit xs-1 m-1-3 l-1-3 gutter text-center">
          <div class="embed embed-1by1 push">
            <img class="img-flex embed-item" src="{{artist.artistImage}}" alt="{{artist.artistImage_alt}}" id="featured-artist-thumb">
          </div>
          <h2 class="mega bold leading-tight push-1-2" id="featured-artist-title">{{artist.title}}</h2>
          <strong class="green normal inline-block push">Featured Artist</strong>
        </div>
        <div class="unit xs-1 m-2-3 l-2-3 gutter">
          <div class="gutter-1-8"><span class="bold green hang-punc">“</span><div id="featured-artist-content">{{artist.content}}</div><span class="bold green"> ”</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-middle">
    <div class="unit xs-1-2 m-1-4">
      <div class="embed embed-1by1">
        <img class="img-flex embed-item" src="{{artist.artImage_1}}" alt="{{artist.artImage_1_alt}}" id="featured-artist-image-1">
      </div>
    </div>
    <div class="unit xs-1-2 m-1-4">
      <div class="embed embed-1by1">
        <img class="img-flex embed-item" src="{{artist.artImage_2}}" alt="{{artist.artImage_2_alt}}" id="featured-artist-image-2">
      </div>
    </div>
    <div class="unit xs-1-2 m-1-4">
      <div class="embed embed-1by1">
        <img class="img-flex embed-item" src="{{artist.artImage_3}}" alt="{{artist.artImage_3_alt}}" id="featured-artist-image-3">
      </div>
    </div>
    <div class="unit xs-1-2 m-1-4">
      <div class="embed embed-1by1">
        <img class="img-flex embed-item" src="{{artist.artImage_4}}" alt="{{artist.artImage_4_alt}}" id="featured-artist-image-4">
      </div>
    </div>
  </div>
</section>
{% endfor %}

<section class="wrapper pad-t-2 pad-b-2">
  <h2 class="tera bold push-1-2 gutter-1-2">{{site.data.home.happenings.title}}</h2>
  <p class="gutter-1-2 max-length-no-center">{{site.data.home.happenings.text}}</p>
  <div class="">
    <a class="no-under card-link" href="{{site.data.home.happenings.card_1_link}}" aria-label="Read more about the upcoming class">
      <div class="gutter-1-2">
        <div class="grid">
          <div class="unit xs-1 m-1-3 push island-1-4">
            <div class="embed embed-1by1 push-1-2">
              <img class="img-flex embed-item" src="{{site.data.classes.upcoming.image}}" alt="{{site.data.classes.upcoming.imageAlt}}">
            </div>
          </div>
          <div class="unit xs-1 m-2-3 push gutter-1-2">
            <strong class="green inline-block push-1-2">{{site.data.classes.upcoming.sectionTitle}}</strong>
            <h3 class="giga push-1-8">{{site.data.classes.upcoming.title}}</h3>
            <p class="push-1-2 milli bold">{{site.data.classes.upcoming.date}}</p>
            <p class="milli push">{{site.data.classes.upcoming.description}}</p>
            <p><span class="btn-fake gutter-1-2 pad-t-1-4 pad-b-1-4">More Details</span></p>
          </div>
        </div>
      </div>
    </a>
    <a class="no-under card-link" href="{{site.data.home.happenings.card_2_link}}" aria-label="Read more about the upcoming event">
      <div class="gutter-1-2">
        <div class="grid">
          <div class="unit xs-1 m-1-3 push island-1-4">
            <div class="embed embed-1by1 push-1-2">
              <img class="img-flex embed-item" src="{{site.data.events.upcoming.image}}" alt="{{site.data.events.upcoming.imageAlt}}">
            </div>
          </div>
          <div class="unit xs-1 m-2-3 push gutter-1-2">
            <strong class="green inline-block push-1-2">{{site.data.events.upcoming.sectionTitle}}</strong>
            <h3 class="giga push-1-8">{{site.data.events.upcoming.title}}</h3>
            <p class="push-1-2 milli bold">{{site.data.events.upcoming.date}}</p>
            <p class="milli push">{{site.data.events.upcoming.description}}</p>
            <p><span class="btn-fake gutter-1-2 pad-t-1-4 pad-b-1-4">More Details</span></p>
          </div>
        </div>
      </div>
    </a>
  </div>

</section>

<section class="navy-bg pad-t-2 pad-b-2 gutter-1-2 text-center">
  {% include newsletter.html btnhover='btnhover-green' %}
</section>

<section class="teal-bg pad-t-2 pad-b">
  {% include member-apply.html btnhover='btnhover-navy' %}
</section>

<script>
  var allArtists = [
    {% for artist in site.artists %}
      {
        title: "{{artist.title}}",
        content: "{{artist.content | strip_newlines}}",
        thumbUrl: "{{artist.artistImage}}",
        thumbAlt: "{{artist.artistImage_alt}}",
        images: [
          {
            url: "{{artist.artImage_1}}",
            alt: "{{artist.artImage_1_alt}}",
          },
          {
            url: "{{artist.artImage_2}}",
            alt: "{{artist.artImage_2_alt}}",
          },
          {
            url: "{{artist.artImage_3}}",
            alt: "{{artist.artImage_3_alt}}",
          },
          {
            url: "{{artist.artImage_4}}",
            alt: "{{artist.artImage_4_alt}}",
          },
        ]
      },
    {% endfor %}
  ];

  var randArtist = allArtists[Math.floor(Math.random() * allArtists.length)];
  var artistTitle = document.getElementById('featured-artist-title');
  var artistContent = document.getElementById('featured-artist-content');
  var artistThumb = document.getElementById('featured-artist-thumb');
  var images = [
    document.getElementById('featured-artist-image-1'),
    document.getElementById('featured-artist-image-2'),
    document.getElementById('featured-artist-image-3'),
    document.getElementById('featured-artist-image-4'),
  ];

  artistTitle.innerHTML = randArtist.title;
  artistContent.innerHTML = randArtist.content;
  artistThumb.src = randArtist.thumbUrl;
  artistThumb.setAttribute('alt', randArtist.thumbAlt);
  randArtist.images.forEach(function (img, i) {
    images[i].src = img.url;
    images[i].setAttribute('alt', img.alt);
  });
</script>
