  <div class="max-length">
    <p class="giga push-0 gutter-1-2 white">{{site.data.home.newsletter.title}}</p>
    <p class="milli push gutter-2 white">{{site.data.home.newsletter.subtitle}}</p>

  </div>
  <div class="unit-form push">
    <label class="kilo push-1-4" for="email-subscribe"></label>
    <input class="newsletter-input" id="email-subscribe" type="email" name="email-subscribe" value="" placeholder="Sign up for our Newsletter">
  </div>
  <div>
    <button class="gutter mega btn btn-ghost-member" type="submit">{{site.data.home.newsletter.button}}</button>
  </div>
