---
layout: default
---

<section class="wrapper pad-t-2">
  <div class="grid">
    <div class="unit xs-1 s-1 l-1-2 gutter pad-t intro-length push-2">
      <div class="embed embed-1by1">
        <img class="img-flex embed-item" src="{{page.artistImage}}" alt="{{page.artistImage_alt}}">
      </div>
    </div>
    <div class="unit xs-1 s-1 l-1-2 gutter intro-length push-2">
      <h2 class="tera bold leading-tight push-1-2">{{page.title}}</h2>

      {{content}}

    </div>
  </div>
</section>
<section class="wrapper pad-b-2">
  <div class="gutter max-length-no-center">
    <h3 class="push-1-2">{{page.galleryTitle}}</h3>
    <p>{{page.galleryDescription}}</p>
  </div>
  <div class="grid">
    <div class="Carol unit xs-1-2 m-1-3 l-1-4">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{page.artImage_1}}" alt="{{page.artImage_1_alt}}">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-4">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{page.artImage_2}}" alt="{{page.artImage_2_alt}}">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-4">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{page.artImage_3}}" alt="{{page.artImage_3_alt}}">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-4">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{page.artImage_4}}" alt="{{page.artImage_4_alt}}">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-4">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{page.artImage_5}}" alt="{{page.artImage_5_alt}}">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-4">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{page.artImage_6}}" alt="{{page.artImage_6_alt}}">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-4">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{page.artImage_7}}" alt="{{page.artImage_7_alt}}">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-4">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{page.artImage_8}}" alt="{{page.artImage_8_alt}}">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="teal-bg pad-t-2 pad-b">
  <div class="text-center push-2">
    <h2 class="giga normal push gutter-1-2 white">{{page.contactArtist_title}}</h2>
    <a class="gutter mega btn btnhover-navy" href="mailto:{{page.contactArtist_email}}">{{page.contactArtist}}</a>
  </div>
</section>
