---
layout: default
---

<section class="wrapper pad-t-2">
  <div class="grid">
    <div class="unit xs-1 s-1 l-1-2 gutter pad-t intro-length push-2">
      <div class="embed embed-1by1">
        <img class="img-flex embed-item" src="{{site.baseurl}}/images/{{page.artistImage}}" alt="{{page.artistImage_alt}}">
      </div>
    </div>
    <div class="unit xs-1 s-1 l-1-2 gutter intro-length push-2">
      <h2 class="tera bold leading-tight push-1-2">{{page.title}}</h2>

      {{content}}

    </div>
  </div>
</section>
<section class="wrapper pad-b-2">
  <div class="gutter max-length">
    <h3 class="push-1-2">{{page.galleryTitle}}</h3>
    <p>{{page.galleryDescription}}</p>
  </div>
  <div class="grid">
    <div class="Carol unit xs-1-2 m-1-3 l-1-4">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/{{page.artImage_1}}" alt="{{page.artImage_1_alt}}">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-4">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/{{page.artImage_2}}" alt="{{page.artImage_2_alt}}">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-4">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/{{page.artImage_3}}" alt="{{page.artImage_3_alt}}">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-4">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/{{page.artImage_4}}" alt="{{page.artImage_4_alt}}">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-4">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/{{page.artImage_5}}" alt="{{page.artImage_5_alt}}">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-4">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/{{page.artImage_6}}" alt="{{page.artImage_6_alt}}">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-4">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/{{page.artImage_7}}" alt="{{page.artImage_7_alt}}">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-4">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/{{page.artImage_8}}" alt="{{page.artImage_8_alt}}">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="member-apply pad-t-2 pad-b">
  <div class="text-center push-2">
    <h2 class="peta bold push gutter-1-2 white">Get in touch with the artist</h2>
    <a class="gutter mega btn btn-ghost-member" href="{{page.contactArtist_email}}">{{page.contactArtist}}</a>
  </div>
</section>


<!-- <div class="">
  <ul>
    {% for artist in site.artists %}
     <li>
       <a href="{{site.baseurl}}/artists/{{artists.slug}}/" class="{% if page.url contains artists.slug %}current{% endif %}">{{artists.title}}</a>
     </li>
    {% endfor %}
  </ul>
</div>


<section class="intro pad-t-2">
  <div class="grid">
    <div class="unit xs-1 s-1 l-1-2 gutter pad-t intro-length push">
      <div class="embed embed-1by1">
        <img class="img-flex embed-item" src="{{site.baseurl}}/images/circle-dark.png" alt="">
      </div>
    </div>
    <div class="unit xs-1 s-1 l-1-2 gutter intro-length push">
      <h2 class="tera bold leading-tight push-1-2">{{page.title}}</h2>
      <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec dui eu tellus tempus iaculis. Phasellus quis justo sem. Nam est lacus, gravida fringilla augue facilisis, eleifend mattis augue.</p>
      <p>Nulla vitae arcu in ipsum commodo auctor interdum eleifend justo. Suspendisse tempus diam mi, et facilisis nunc ultrices at. Nullam luctus turpis pharetra leo facilisis feugiat vel sed urna. Sed tristique massa nisi, eu venenatis mauris feugiat sed. Aenean id magna fringilla, faucibus odio auctor, rhoncus sapien. Etiam eu cursus orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel nulla varius est porta varius. Integer suscipit tincidunt orci, sed facilisis lectus cursus non. Quisque eu finibus dolor.</p>
    </div>
  </div>
</section>
<section class="intro pad-t-2 pad-b-2">
  <div class="gutter">
    <h3>{{page.galleryTitle}}</h3>
    <p>{{page.galleryDescription}}</p>
  </div>
  <div class="grid">
    <div class="Carol unit xs-1-2 m-1-3 l-1-5">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/sq-green.png" alt="">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-5">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/sq-green.png" alt="">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-5">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/sq-green.png" alt="">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-5">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/sq-green.png" alt="">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-5">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/sq-green.png" alt="">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-5">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/sq-green.png" alt="">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-5">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/sq-green.png" alt="">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-5">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/sq-green.png" alt="">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-5">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/sq-green.png" alt="">
        </div>
      </div>
    </div>
    <div class="Carol unit xs-1-2 m-1-3 l-1-5">
      <div class="">
        <div class="embed embed-1by1">
          <img class="img-flex embed-item" src="{{site.baseurl}}/images/sq-green.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="member-apply pad-t-2 pad-b">
  <div class="text-center push-2">
    <h2 class="peta bold push gutter-1-2 white">Get in touch with the artist</h2>
    <button class="gutter mega btn btn-ghost-member" type="submit">Contact Carol</button>
  </div>
</section>


<div class="">
  <ul>
    {% for artist in site.artists %}
     <li>
       <a href="{{site.baseurl}}/artists/{{artists.slug}}/" class="{% if page.url contains artists.slug %}current{% endif %}">{{artists.title}}</a>
     </li>
    {% endfor %}
  </ul>
</div> -->
