<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Clayworks Co-op · Ottawa, Canada</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,600,800" rel="stylesheet">
</head>

<body>
  <ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
    <li><a href="#nav">Jump to navigation</a></li>
  </ul>

  <header role="banner">
    <div class="masthead-container">
      <div class="masthead grid grid-middle">
        <div class="logo-div unit xs-1 m-1-3 l-1-2">
          <a class="inline-block pad-t-1-8 gutter-1-2" href="{{site.baseurl}}/">
            <i class="icon icon-logo"><img class="img-flex" src="{{site.baseurl}}/images/logo-dark.svg" alt=""></i>
          </a>
        </div>

        <nav class="nav center-block text-center unit xs-1 m-2-3 l-1-2" role="navigation" id="nav" tabindex="0">
          <ul class="nav-list list-group grid bold">
            <li class="inline-block unit xs-1-2 s-1-4"><a class="btn-nav pad-t-1-4 pad-b-1-4 {% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a></li>
            <li class="inline-block unit xs-1-2 s-1-4"><a class="btn-nav pad-t-1-4 pad-b-1-4 {% if page.url contains '/classes' %}current{% endif %}" href="{{site.baseurl}}/classes/">Classes</a></li>
            <li class="inline-block unit xs-1-2 s-1-4"><a class="btn-nav pad-t-1-4 pad-b-1-4 {% if page.url contains '/artists' %}current{% endif %}" href="{{site.baseurl}}/artists/">Artists</a></li>
            <li class="inline-block unit xs-1-2 s-1-4"><a class="btn-nav pad-t-1-4 pad-b-1-4 {% if page.url contains '/events' %}current{% endif %}" href="{{site.baseurl}}/events/">Events</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main role="main" id="main" tabindex="0">

  {{content}}

  </main>

  <footer class="white pad-b-1-2" role="contentinfo" tabindex="0">
    <div class="grid grid-middle gutter-1-2 text-center">
      <div class="unit xs-1 m-1 l-1-3 gutter-1-2 pad-t-1-2 pad-b-1-2">
        <a class="inline-block" href="{{site.baseurl}}/">
          <i class="icon icon-logo"><img class="img-flex" src="{{site.baseurl}}/images/logo-white.svg" alt="Logo of ClayWorks Co-op"></i>
        </a>
      </div>
      <div class="unit xs-1 m-1-2 l-1-3 gutter-1-2 pad-b-1-2 pad-t-1-2">
        <div class="contact">
          <h3 class="mega push-1-4">Contact us:</h3>
          <address class="normal milli"><span class="kilo">(613) 876-1234</span><br>949b Gladstone Ave, <br>Ottawa, ON K1Y3E5<br>info.clayworks@gmail.com</address>
        </div>
      </div>
      <div class="unit xs-1 m-1-2 l-1-3 gutter-1-2 pad-b-1-2 pad-t-1-2">
        <div class="social">
          <ul class="list-group-inline push-1-2">
            <li class="gutter-1-8">
              <a href="https://www.facebook.com">
                <i class="icon icon-social"><img class="img-flex" src="{{site.baseurl}}/images/facebook.svg" alt="Logo of facebook.com"></i>
              </a>
            </li>
            <li class="gutter-1-8">
              <a href="https://www.instagram.com/">
                <i class="icon icon-social"><img class="img-flex" src="{{site.baseurl}}/images/instagram.svg" alt="Logo of instagram.com"></i>
              </a>
            </li>
            <li class="gutter-1-8">
              <a href="https://twitter.com/?lang=en">
                <i class="icon icon-social"><img class="img-flex" src="{{site.baseurl}}/images/twitter.svg" alt="Logo of twitter.com"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="nav-footer">
          <ul class="nav-list list-group-inline milli push-1-2">
            <li class="gutter-1-2"><a class="pad-t-1-4 pad-b-1-8 btn-nav-footer {% if page.url == '/' %}current-footer{% endif %}" href="{{site.baseurl}}/">Home</a></li>
            <li><a class="pad-t-1-4 pad-b-1-8 btn-nav-footer {% if page.url contains '/classes' %}current-footer{% endif %}" href="{{site.baseurl}}/classes/">Classes</a></li>
            <li class="gutter-1-2"><a class="pad-t-1-4 pad-b-1-8 btn-nav-footer {% if page.url contains '/artists' %}current-footer{% endif %}" href="{{site.baseurl}}/artists/">Artists</a></li>
            <li><a class="pad-t-1-4 pad-b-1-8 btn-nav-footer {% if page.url contains '/events' %}current-footer{% endif %}" href="{{site.baseurl}}/events/">Events</a></li>
          </ul>
        </div>
        <div class="micro normal rights">
          <p class="push-1-8">© ClayWorks © 2018 | All Rights Reserved.</p>
          <p class="push-0">Created by <span class="micro designer">#ten-2</span></p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
